**Importando o pandas**

In [6]:
import pandas as pd

**Criando um dataframe a partir de um dicionário**

In [36]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2025', '16/02/2025'],
         'valor': [500, 300],
         'produto': ['caneta', 'papel'],
         'qtd': [50, 70],
        }
vendas_df = pd.DataFrame(venda)

**Visualização dos Dados**
 - print
 - display

In [25]:
print(vendas_df)

         data  valor produto  qtd
0  15/02/2025    500  caneta   50
1  16/02/2025    300   papel   70

In [26]:
display(vendas_df)

         data  valor produto  qtd
0  15/02/2025    500  caneta   50
1  16/02/2025    300   papel   70

**Importando arquivos e bases de dados**

In [54]:
vendas_df = pd.read_excel('Vendas.xlsx')
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

**Resumos de Visualização de Dados simples e úteis**
- head
- shape
- describe

In [50]:
display(vendas_df.head(10))
print(vendas_df.shape)
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

**Isolando colunas (e os pd.Series)**

In [49]:
produtos = vendas_df[['Produto', 'ID Loja']]
display(produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

**Método .loc**
- Isolando uma linha
- Isolando linhas e colunas condicionadas
- Isolando 1 valor específico

In [60]:
# Isolando linha
display(vendas_df.loc[1])

Código Venda                        1
Data              2019-01-01 00:00:00
ID Loja            Iguatemi Esplanada
Produto                      Camiseta
Quantidade                          2
Valor Unitário                    180
Valor Final                       360
Name: 1, dtype: object

In [53]:
display(vendas_df.loc[7:9])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

In [62]:
# Isolando linhas condicionadas
# vendas_norteshopping_df
display(vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [61]:
# Isolando colunas condicionadas
display(vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']])

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [69]:
# Isolando um valor específico
print(vendas_df.loc[789, 'Produto'])

Gorro Xadrez

**Adicionando Colunas**

In [70]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

In [106]:
# coluna com valor padrão
vendas_df.loc[:,'Imposto'] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0

**Adicionando linhas**

In [105]:
vendas_dez_df = pd.read_excel('Vendas - Dez.xlsx')
display(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [100]:
vendas_df = pd.concat([vendas_df, vendas_dez_df])
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,NaN
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,NaN
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,NaN
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,NaN
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,NaN
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0.0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0.0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0.0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0.0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0.0

**Excluindo linhas e colunas**

In [107]:
# Excluindo coluna
vendas_df = vendas_df.drop('Imposto', axis=1)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30

In [102]:
# Excluindo linha
vendas_df = vendas_df.drop(0, axis=0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30

**Valores Vazios**
- Deletando linhas/colunas vazias
- Deletando linhas que possuem valores vazios
- Preenchendo valores

In [111]:
# Deletando linhas e colunas completamente vazias
#vendas_df = vendas_df.dropna(how= 'all', axis=1)

# Deletando linhas que possuem pelomenos 1 valor vazio
#vendas_df = vendas_df.dropna()

# Preenchendo valores vazios

#-Com o útlimo valor
#vendas_df = vendas_df.ffill()

#-Com a média da coluna
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30

**Calcular Indicadores**
- Groupby
- Value Counts

In [118]:
# Value Count
transacoes_loja = vendas_df['ID Loja'].value_counts()
display(transacoes_loja)

ID Loja
Rio Mar Recife                      7393
Iguatemi Campinas                   6943
Shopping Vila Velha                 6925
Palladium Shopping Curitiba         6919
Rio Mar Shopping Fortaleza          6764
Salvador Shopping                   6748
Shopping Eldorado                   6738
Center Shopping Uberlândia          6713
Shopping Morumbi                    6704
Bourbon Shopping SP                 6690
Shopping Iguatemi Fortaleza         6631
Passei das Águas Shopping           6601
Shopping União de Osasco            6551
Ribeirão Shopping                   6541
Shopping SP Market                  6528
Parque Dom Pedro Shopping           6512
Shopping Ibirapuera                 6508
Norte Shopping                      6474
Shopping Recife                     6465
Shopping Center Interlagos          6307
Shopping Barra                      6302
Iguatemi Esplanada                  6301
Novo Shopping Ribeirão Preto        6200
Shopping Midway Mall                6168
Shopping Center Leste Aricanduva    6163
Name: count, dtype: int64

In [120]:
# Groupby
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

                  Valor Final
Produto
Bermuda                438300
Bermuda Estampa        459004
Bermuda Linho          624585
Bermuda Liso           443839
Bermuda Listrado       475145
...                       ...
Tênis Estampa          745728
Tênis Linho            853482
Tênis Liso             780976
Tênis Listrado         714474
Tênis Xadrez           725459

[120 rows x 1 columns]

**Mesclar 2 dataframes (procurando informações)**

In [121]:
gerentes_df = pd.read_excel('Gerentes.xlsx')
display(gerentes_df)

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

In [122]:
vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,Salvador
2,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,Joana
3,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,Joana
4,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40,Maria
...,...,...,...,...,...,...,...,...,...
164784,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,Andressa
164785,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,Andressa
164786,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,Andressa
164787,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,Fábio
164788,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,Fábio